<div class="mb-3">
  <form>
    <div class="mb-3">
      <label for="phoneId" class="form-label">Id</label>
      <input
        type="text"
        class="form-control"
        id="phoneId"
        name="phoneIdName"
        [(ngModel)]="id"
        [disabled]="!this.isNew"
      />
    </div>

    <div class="mb-3">
      <label for="phoneModel" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="phoneModel"
        name="phoneModelName"
        [(ngModel)]="name"
      />
    </div>

    <div class="mb-3 d-none">
      <label for="imgUrl" class="form-label">Image Url</label>
      <input
        type="text"
        class="form-control"
        id="imgUrl"
        name="phoneImgUrlName"
        [(ngModel)]="imageUrl"
      />
    </div>

    <div class="mb-3">
      <label for="phonePrice" class="form-label">Price</label>
      <input
        type="text"
        class="form-control"
        id="phonePrice"
        name="phonePriceName"
        [(ngModel)]="price"
      />
    </div>

    <div class="row mt-4">
      <div class="col-auto me-auto">
        <button
          type="button"
          class="btn btn-warning"
          (click)="clearState()"
          [hidden]="!(this.id || this.name || this.price)"
        >
          Clear
        </button>
      </div>
      <div class="col-auto">
        <app-phone-add
          [isNew]="this.isNew"
          [phone]="{
            id: this.id,
            name: this.name,
            imageUrl: this.imageUrl,
            price: this.price
          }"
          (onAction)="onSubmit()"
        >
        </app-phone-add>
      </div>
    </div>
  </form>
</div>
